<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Project</title>
<link rel="stylesheet" th:href="@{/styles/index.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="add-project">
	<div>
		<h1 class="text-white bg-primary" >ProConnect</h1>
	</div>
	<div class="add-project-div ml-5">
		<h4 class="text-white text-center">Add Project</h4>
		<form th:action="@{'/add-project/'+${user.email}}" th:object="${project}" method="post">
		  <input type="hidden" name="email" th:value="${user.email}">
			
		  <div class="form-group">
		    <label for="title" class="text-white">Title</label>
		    <input type="text" class="form-control" name="title" id="title">
		  </div>
		  <div class="form-group">
		    <label for="content" class="text-white">Content</label>
		    <textarea class="form-control" name="content" id="content" rows="3"></textarea>
		  </div>
		  <div class="form-group">
		    <label for="link" class="text-white">Github/Source Code Link</label>
		    <input type="text" class="form-control" name="link" id="link">
		  </div>
		  <label class="text-white" >Want to show this to every user?</label><br>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="type" value="Yes" id="yes">
		  <label class="form-check-label text-white" for="yes">
		    Yes
		  </label>
		</div> 
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="type" value="No" id="no">
		  <label class="form-check-label text-white" for="no">
		    No
		  </label>
		</div>
		<br><br>
		  <button type="submit" class="btn btn-primary">Add Project</button>
		  
		</form>
	</div>
</body>
</html>